Magic 271485
Revision Verdi3_J-2014.12-SP3

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 9 216 1833 607 185 286

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/yutongshen/IC_contest/ICContest105/work/LEDDC_30fps.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 9428021925.251404 9451896708.376358
cursor 9442881000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 2
; marker line index
markerPos 24

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/yutongshen/IC_contest/ICContest105/work/LEDDC_30fps.fsdb"
addSignal -h 15 /test/u_LEDDC/rst
addSignal -h 15 -holdScope DAI
addSignal -h 15 -holdScope DCK
addSignal -h 15 -holdScope DEN
addSignal -h 15 -UNSIGNED -HEX -holdScope wd_addr[8:0]
addSignal -h 15 /test/u_LEDDC/ram1/mem[511:0]
addSignal -h 15 /test/u_LEDDC/ram2/mem[511:0]
addGroup "G2"
addSignal -h 15 /test/u_LEDDC/GCK
addSignal -h 15 -UNSIGNED -HEX -holdScope OUT[15:0]
addSignal -h 15 -holdScope Vsync
addSignal -h 15 -holdScope mode
addSignal -h 15 -holdScope en_rd
addSignal -h 15 -UNSIGNED -HEX -holdScope rd_addr[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rd_data[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rd_data1[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rd_data2[15:0]
addGroup "G3"
addSignal -h 15 /test/u_LEDDC/pc/rd_reg[0:15]
addSignal -h 15 -holdScope out_buffer[0:15]
addSignal -h 15 -UNSIGNED -HEX -holdScope cnt[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope out_cs[2:0]
addSignal -h 15 -holdScope push_buffer
addSignal -h 15 -holdScope r_push_buffer
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/yutongshen/IC_contest/ICContest105/work/LEDDC_30fps.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/test"
"/test/u_LEDDC"

SCOPE_LIST_BEGIN
"/test"
"/test/u_LEDDC"
"/test/u_LEDDC/ram"
"/test/u_LEDDC/ram1"
"/test/u_LEDDC/ram2"
"/test/u_LEDDC/pc"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


